:root {
  --dark-color: #010202;
  --medium-color: #f3f3f3;
  --light-color: #ffffff;
  --accent-color: #c10b25;

  --spacing: 2em;

  --font-base: "Mulish", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-accent: "Vesper Libre", serif;
  --font-heading: "DM Serif Display", serif;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 1.2rem;
}
